@tailwind base;
@tailwind components;
@tailwind utilities;

.baloo {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 456;
    font-style: normal;
  }

  .tajawal-light {
    font-family: "Tajawal", serif;
    font-weight: 300;
    font-style: normal;
  }

  .arabic-text {
    font-family: "Tajawal", serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.8;
    word-spacing: 6px; /* Ajuste selon ton besoin */
    text-rendering: optimizeLegibility; /* Améliore le rendu des polices */
    direction: rtl; /* Assure une bonne direction pour l'arabe */
  }
  