@tailwind base;
@tailwind components;
@tailwind utilities;

.baloo {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 456;
    font-style: normal;
  }

  .tajawal-light {
    font-family: "Tajawal", serif;
    font-weight: 300;
    font-style: normal;
  }

  
  @font-face {
    font-family: 'arabic';
    src: url('..\public\fonts\Rubik-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 32px 0 #000, -32px 0 #000;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
  }
  
  @keyframes flash {
    0% {
      background-color: #0002;
      box-shadow: 32px 0 #0002, -32px 0 #000;
    }
    50% {
      background-color: #000;
      box-shadow: 32px 0 #0002, -32px 0 #0002;
    }
    100% {
      background-color: #0002;
      box-shadow: 32px 0 #000, -32px 0 #0002;
    }
  }
        
 